<div class="title">
  <h3 class="">Calendar Notes</h3>
  <i (click)="toggleTheme()" class="ml-2 cursor-pointer pi pi-palette"></i>
</div>
<div class="journal-app gap-2 flex flex-wrap sm:flex-wrap md:flex-wrap lg:flex-nowrap shadow-3 p-4 border-round">
  <div class="card calendar-container lg:col-6 md:col-6 sm:col-12 col-12 p-3 shadow-2 border-round ">
    <full-calendar [options]="calendarOptions"></full-calendar>
    <!-- <p-calendar 
    class="max-w-full" 
    [(ngModel)]="date" 
    [inline]="true" 
    [showWeek]="true" />  -->
  </div>
  <div class="flex flex-column gap-3 lg:col-6 md:col-6 sm:col-12 col-12 border-round">
    <div *ngIf="selectedDate" class="overflow-scroll card lg:col-12 md:col-12 sm:col-12 col-12 note-editor shadow-2 border-round p-3">
      <span><h2 class="text-secondary mt-0">Notes for {{ selectedDate }}</h2> <button pButton label="Save Notes" class="" (click)="saveNote()"></button></span>
      <div *ngFor="let category of categories" class="field mt-3">
        <label [for]="category" class="d-block font-bold">{{ category }}:</label>
          <p-editor [id]="category" [formControl]="noteForm[selectedDate][category]" />
      </div>
    </div>

    <div class="card flex justify-content-around align-items-center category-manager row shadow-2 lg:col-12 md:col-12 sm:col-12 col-12 border-round p-4">
      <h2 class="text-secondary m-0">Add Category</h2>

      <p-floatLabel class="">
        <input [id]="newCategory" pInputText type="text" [(ngModel)]="newCategory" class="inputtext p-component" />
        <label for="newCategory">New Category</label>
      </p-floatLabel>
      <div class="">
        <button pButton label="+" (click)="addCategory()"></button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="flex relative justify-content-center align-items-center"> -->
<p-dock class="card" [model]="items" [position]="'bottom'">
  <ng-template pTemplate="item" let-item>
    <i class="dock-items" [ngClass]="item.icon" width="100%"></i>
    <!-- <p class="mb-0">{{item.label}}</p> -->
  </ng-template>
</p-dock>
<!-- </div> -->